* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px 16px;
}

main {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
